<div class="my-skills">
  <h1>My Skills</h1>

  <div class="skills-positioning">
    <div class="skills-container-first">
      <div *ngFor="let imageUrl of skillImagesFirstRow; let i = index">
        <div class="img-size"
             [ngClass]="{ 'challenge-me': imageUrl.includes('challenge-me.png') && !isMobileView }"
             (mouseover)="!isMobileView && imageUrl.includes('challenge-me.png') ? onMouseOverChallenge() : null"
             (mouseout)="!isMobileView && imageUrl.includes('challenge-me.png') ? onMouseOutChallenge() : null">
          <img [src]="i === skillImagesFirstRow.length - 1 && isMobileView ? './assets/icons/challenge-arrow.png' : imageUrl"
               [ngClass]="{ 'alternative-img': i === skillImagesFirstRow.length - 1 && isMobileView }" 
               alt="Skill image" />
               <span *ngIf="!isMobileView && imageUrl.includes('challenge-me.png')"
               class="challenge-text"
               [ngClass]="{ 'visible': isChallengeHovered }">
           I am always happy to learn new<br>technologies, just tell me what you<br>need.
         </span>
        </div>
      </div>
    </div>


    <div class="mobile-challenge-text" *ngIf="isMobileView">
      <p>I am always happy to learn new<br>technologies, just tell me what you<br>need.<p>
    </div>

    <div class="button-div" *ngIf="isMobileView">
      <button class="eletric-button">Let's Talk</button>
    </div>

  </div>
</div>
