@import "../../../../public/styles/mixins.scss";

.why-me-container {
  width: 100%;
  display: flex;
  overflow: hidden;
  margin-bottom: 100px;

  a {
    text-decoration: none;
  }

  @media (max-width: 1250px) {
    display: none;
  }

  h1 {
    font-size: 54px;
    color: rgba(225, 85, 68, 1);
    text-align: right;
    margin-block-end: 0;
  }
  .p-why-me {
    text-align: right;
    color: rgba(2, 244, 191, 1);
    font-size: 16px;
  }

  p {
    font-size: 18px;
    font-weight: 400;
  }
}

.photo-left {
  flex: 1;
  width: 40%;
  background-image: url("../../../../public/assets/img/temporar-why.png");
  object-fit: cover;
  background-repeat: no-repeat;

  img {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
  }
}

.text-div {
  width: 60%;
}

.i-am {
  position: relative;
  width: 100%;

  h2 {
    font-size: 48px;
    font-weight: 700;
    color: rgba(225, 85, 68, 1);
    margin-block-start: 0;
    margin-block-end: 0;
  }

  p {
    color: rgba(2, 244, 191, 1);
    font-size: 18px;
  }

  .top {
    display: flex;
    justify-content: space-evenly;
    width: 568px;
    margin-left: 212px;
    cursor: default;

    .ring-size {
      width: 19px;
      height: 7px;
      display: none;
    }

    .hover-img {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .location {
      @include flex-center;
      gap: 12px;

      .vector-size {
        height: 41px;
        transition: transform 120ms ease-in-out;
      }
      &:hover .vector-size {
        transform: translateY(-2px);
      }

      &:hover .ring-size {
        display: block;
      }
    }
  }

  .content-right-div {
    width: 100%;
  }

  .middle-div {
    display: flex;
    width: 568px;
    gap: 156px;
    margin-left: 450px;
    margin-bottom: -8px;
    cursor: default;

    @media (max-width: 1420px) {
      gap: 45px;
    }

    .koffer-size {
      width: 30px;
      height: 49px;
      transition: transform 120ms ease-in-out;
    }

    .arrow-down-size {
      height: 56px;
    }

    .koffer-text-div {
      display: flex;
      @include flex-center;
      gap: 12px;

      &:hover .koffer-size {
        transform: scale(1.05);
      }
    }
  }

  .bottom {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;

    cursor: default;
  }

  .elements-left {
    display: flex;
    @include flex-center;

    p {
      margin-left: 12px;
      margin-right: 16px;
    }
  }
  .arrow-to-button {
    margin-left: 110px;
  }

  .remote-size {
    width: 37px;
    transition: transform 100ms ease-in-out;
  }

  .wifi-symbol {
    margin-bottom: 20px;
    margin-right: -11px;
    width: 36px;
  }

  .change-wifi-symbol {
    margin-bottom: 22px;
  }
}

.button-div {
  display: flex;
  justify-content: flex-end;
  margin-top: 16px;

  @media (max-width: 800px) {
    justify-content: center;
  }
}

@media (max-width: 1250px) {
  .why-me-container {
    display: none;
  }
}

.why-me-mobile {
  display: none;
  a {
    text-decoration: none;
  }

  @media (max-width: 1250px) {
    display: block;
  }

  h1 {
    font-size: 32px;
    color: rgba(225, 85, 68, 1);
    text-align: center;
    margin-block-end: 0;
    margin-block-start: 0;
    font-weight: 700;
  }
  .p-why-me-mobile {
    text-align: center;
    color: rgba(2, 244, 191, 1);
    font-size: 16px;
  }

  h2 {
    font-size: 28px;
    font-weight: 700;
    color: rgba(225, 85, 68, 1);
    margin-block-start: 0;
    margin-block-end: 0;
    text-align: center;
  }

  .im-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;

    div {
      margin-top: 18px;
      display: flex;
      align-items: center;

      span {
        margin-left: 16px;
        color: rgba(2, 244, 191, 1);
        font-size: 16px;
      }
    }
  }

  .arrow-down-mobile {
    display: flex;
    justify-content: flex-end;
    margin: 12px 0;
  }
}
