<div class="why-me-container" data-aos="fade-up">
  <div class="photo-left" data-aos="fade-left"></div>

  <div class="text-div" data-aos="fade-right">
    <div class="why-me">
      <h1>{{ "why_me.TITLE" | translate }}</h1>
      <p class="p-why-me" [innerHTML]="'why_me.TEXT' | translate"></p>
    </div>

    <div class="i-am" data-aos="zoom-in">
      <div class="content-right-div">
        <div class="top" data-aos="fade-down">
          <h2>{{ "why_me.IM" | translate }}</h2>

          <div class="location">
            <div class="hover-img">
              <img
                class="vector-size"
                src="./assets/icons/Vector1.png"
                alt=""
              />
              <img class="ring-size" src="./assets/icons/ring-2.png" alt="" />
            </div>
            <p [innerHTML]="'why_me.LOCATION' | translate"></p>
          </div>
        </div>

        <div class="middle-div" data-aos="fade-up">
          <img
            class="arrow-down-size"
            src="./assets/icons/Arrow-down.png"
            alt=""
          />
          <div
            class="koffer-text-div"
            (mouseenter)="onKofferHover(true)"
            (mouseleave)="onKofferHover(false)"
          >
            <img class="koffer-size" [src]="kofferImageUrl" alt="" />
            <p [innerHTML]="'why_me.RELOCATE' | translate"></p>
          </div>
        </div>

        <div class="bottom" data-aos="flip-left">
          <div
            class="elements-left"
            (mouseenter)="onRemoteHover(true)"
            (mouseleave)="onRemoteHover(false)"
          >
            <div>
              <div class="change-wifi-symbol">
                <img class="wifi-symbol" [src]="remoteImageUrl" alt="" />
                <img
                  class="remote-size"
                  src="./assets/icons/remote.png"
                  alt=""
                />
              </div>
            </div>
            <p [innerHTML]="'why_me.REMOTE' | translate"></p>
            <img src="./assets/icons/ArrowUp.png" alt="" />
          </div>
          <img
            class="arrow-to-button"
            src="./assets/icons/arrow-to-button.png"
            alt=""
          />
        </div>

        <div class="button-div">
          <a href="#contact">
            <button class="eletric-button">
              {{ "buttons.LETSTALK" | translate }}
            </button>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="why-me-mobile" data-aos="fade-up">
  <h1>Why me</h1>
  <p class="p-why-me-mobile" [innerHTML]="'why_me.TEXT' | translate"></p>
  <img class="arrow-down-size" src="./assets/icons/Arrow-down.png" alt="" />
  <h2>I am</h2>
  <div class="im-list" data-aos="zoom-in">
    <div>
      <img class="vector-size" src="./assets/icons/Vector1.png" />
      <span>{{ "why_me.LOCATION-MOBILE" | translate }}</span>
    </div>
    <div>
      <img src="./assets/icons/koffer.png" />
      <span>{{ "why_me.RELOCATE-MOBILE" | translate }}</span>
    </div>
    <div>
      <img src="./assets/icons/remote.png" />
      <span>{{ "why_me.REMOTE-MOBILE" | translate }}</span>
    </div>
  </div>
  <div class="arrow-down-mobile">
    <img
      class="arrow-to-button"
      src="./assets/icons/arrow-down-left.png"
      alt=""
    />
  </div>
  <div class="button-div">
    <a href="#contact">
      <button class="eletric-button">
        {{ "buttons.LETSTALK" | translate }}
      </button>
    </a>
  </div>
</div>
