@import "../../../../public/styles/mixins.scss";

header {
  color: rgba(225, 85, 68, 1);
  display: flex;

  font-weight: 500;
  justify-content: space-between;
  padding: 24px 140px; // Add 140px padding to the left and right
  width: 100%;
  box-sizing: border-box; // Ensure padding does not add to the width, preventing overflow
}

.header-left {
  display: flex;
  font-size: 22px;
  @include flex-center;

  a {
    cursor: pointer;
    margin-left: 32px;
    transition: color 100ms ease-out;

    &:hover {
      color: rgba(2, 244, 191, 1);
    }
  }

  img {
    width: 92;
    height: 44px;
    @include flex-center;
    cursor: pointer;
  }
}
.header-right {
  @include flex-center;
  font-size: 18px;
  font-weight: 700;

  p {
    cursor: pointer;
    transition: color 100ms ease-out;

    &:hover {
      color: rgba(2, 244, 191, 1);
    }
  }

  .separator {
    margin: 0 6px;
  }
}
