<header>
  <div class="header-left">
    <a href="#"><img src="./assets/icons/_DK_.png" /></a>
    <a href="#" (click)="scrollToSection($event, 'why-me')">{{ "header.WHY_ME" | translate }}</a>
    <a href="#" (click)="scrollToSection($event, 'skills')">{{ "header.SKILLS" | translate }}</a>
    <a href="#" (click)="scrollToSection($event, 'projects')">{{ "header.PROJECTS" | translate }}</a>
    <a href="#" (click)="scrollToSection($event, 'contact')">{{ "header.CONTACTS" | translate }}</a>
  </div>
  
  <div class="header-right">
    <p (click)="toggleLanguage('de')">DE</p>
    <span class="separator">|</span>
    <p (click)="toggleLanguage('en')">EN</p>
  </div>
</header>

<nav>
  <div class="img-left">
    <a href="#"><img src="./assets/icons/_DK_.png" /></a>
  </div>
  <div class="menu-img" (click)="toggleMenu()">
    <img src="./assets/icons/menu-open.svg" />
  </div>
</nav>

<div class="menu-mobile" [class.open]="isMenuOpen">
  <img
    class="close-icon"
    src="./assets/icons/menu-close.svg"
    alt="Close Menue"
    (click)="toggleMenu()"
  />

  <div class="center-content">
    <div class="links-position">
      <div>
        <a href="#" (click)="toggleMenu()" (click)="scrollToSection($event, 'why-me')">{{
          "header.WHY_ME" | translate
        }}</a>
        <a href="#" (click)="toggleMenu()" (click)="scrollToSection($event, 'skills')">{{
          "header.SKILLS" | translate
        }}</a>
        <a href="#" (click)="toggleMenu()" (click)="scrollToSection($event, 'projects')">{{
          "header.PROJECTS" | translate
        }}</a>
        <a href="#" (click)="toggleMenu()" (click)="scrollToSection($event, 'contact')">{{
          "header.CONTACTS" | translate
        }}</a>
      </div>

      <div class="language-buttons">
        <p (click)="toggleLanguage('de')">DE</p>
        <span class="separator">|</span>
        <p (click)="toggleLanguage('en')">EN</p>
      </div>
    </div>
  </div>
</div>
