@import "../../../../public/styles/mixins.scss";

header {
  color: rgba(225, 85, 68, 1);
  display: flex;
  height: 92px;
  background: linear-gradient(180deg, #0B042D 63.5%, rgba(11, 4, 45, 0.2) 118.69%);

  font-weight: 500;
  justify-content: space-between;
  // padding-top: 24px; // Add 140px padding to the left and right
  // padding-bottom: 24px; // Add 140px padding to the left and right
  width: 100%;
  box-sizing: border-box; // Ensure padding does not add to the width, preventing overflow
  position: sticky; // Makes the header sticky
  top: 0; // Sticks it to the top of the viewport
  z-index: 1000; // Ensures the header is above other content
 
}

.header-left {
  display: flex;
  font-size: 22px;
  @include flex-center;

  a {
    cursor: pointer;
    margin-left: 32px;
    transition: color 100ms ease-out;

    &:hover {
      color: rgba(2, 244, 191, 1);
    }
  }

  img {
    width: 92;
    height: 44px;
    object-fit: cover;
    cursor: pointer;
  }
}
.header-right {
  @include flex-center;
  font-size: 18px;
  font-weight: 700;

  p {
    cursor: pointer;
    transition: color 300ms ease-out;

    &:hover {
      color: rgba(2, 244, 191, 1);
    }
  }

  .separator {
    margin: 0 6px;
  }
}
