<div class="why-me-container">
  <div class="photo-left">
    <img src="./assets/img/temporar-why.png" alt="" />
  </div>

  <div class="text-div">
    <div class="why-me">
      <h1>Why ME</h1>
      <p class="p-why-me">
        I am motivated to continuosly learn new technologies and develop<br />
        myself. My ability to solve complex problems and my passion for<br />programming
        make me a valuable member of your team.
      </p>
    </div>
    
    <div class="i-am">
        <div class="top">
            <h2>I am</h2>
            <div class="location">
                <img src="./assets/icons/Vector1.png" alt="">
                <p>located<br>in Bremerhaven</p>
            </div>
        </div>
    </div>





  </div>
</div>
