@import "../../../../public/styles/mixins.scss";

.why-me-container {
  width: 100%;
  display: flex; // Use flexbox to layout children
  overflow: hidden; // Prevent overflow if content exceeds the max height
  margin-bottom: 100px;

  h1 {
    font-size: 54px;
    color: rgba(225, 85, 68, 1);
    text-align: right;
    margin-block-end: 0;
  }
  .p-why-me {
    text-align: right;
    color: rgba(2, 244, 191, 1);
    font-size: 16px;
  }

  p {
    font-size: 18px;
    font-weight: 400;
  }
}

.photo-left {
  flex: 1;
  width: 40%;
  background-image: url("../../../../public/assets/img/temporar-why.png");
  object-fit: cover; /* Adjusts the size to cover the entire element */
  background-position: center; /* Centers the image */

  img {
    max-width: 100%; // Prevent the image from exceeding the width of its container
    max-height: 100%; // Prevent the image from exceeding the height of its container
    object-fit: cover; // Maintain aspect ratio while covering the area
  }
}

.text-div {
  width: 60%;
}

.i-am {
  position: relative;
  width: 100%;

  h2 {
    font-size: 48px;
    font-weight: 700;
    color: rgba(225, 85, 68, 1);
    margin-block-start: 0;
    margin-block-end: 0;
  }

  p {
    color: rgba(2, 244, 191, 1);
    font-size: 18px;
  }

  .top {
    display: flex;
    justify-content: space-evenly;
    width: 568px;
    margin-left: 212px;
    cursor: default;

    .ring-size {
      width: 19px;
      height: 7px;
      display: none;
    }

    .hover-img {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .location {
      @include flex-center;
      gap: 12px;

      .vector-size {
        height: 41px;
        transition: transform 120ms ease-in-out;
      }
      &:hover .vector-size {
        transform: translateY(-2px); // Moves the image 2 pixels up
      }

      &:hover .ring-size {
        display: block;
      }
    }
  }

  .content-right-div {
    width: 100%;
  }

  .middle-div {
    display: flex;
    width: 568px;
    gap: 156px;
    margin-left: 450px;
    margin-bottom: -8px;
    cursor: default;

    .koffer-size {
      width: 30px;
      height: 49px;
      transition: transform 120ms ease-in-out;
    }

    .arrow-down-size {
      height: 56px;
    }

    .koffer-text-div {
      display: flex;
      @include flex-center;
      gap: 12px;

      &:hover .koffer-size {
        transform: scale(1.05); // Slightly scale up the image on hover
      }
    }
  }

  .bottom {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;

    cursor: default;
  }

  .elements-left {
    display: flex;
    @include flex-center;

    p {
      margin-left: 12px;
      margin-right: 16px;
    }
  }
  .arrow-to-button {
    margin-left: 110px;
  }

  .remote-size {
    width: 37px;

    transition: transform 100ms ease-in-out;
  }

  .wifi-symbol {
    margin-bottom: 20px;
    margin-right: -11px;
    width: 36px;
  }

  .change-wifi-symbol {
    margin-bottom: 22px;
  }
}

.button-div {
  display: flex;
  justify-content: flex-end;
  margin-top: 16px;
}
