.teamplayer {

  margin-bottom: 120px;
  h3 {
    font-size: 24px;
    font-weight: 400;
    color: rgba(225, 85, 68, 1);
    text-align: left;
  }

  h4 {
    font-size: 24px;
    font-weight: 400;
    color: rgba(225, 85, 68, 1);
    text-align: left;
    margin-block-start: 0;
    margin-block-end: 0;
  }

  .comments {
    display: flex;
    width: 100%;
    margin-top: 55px;

  }

  .comment-list {
    width: 25%;
    display: flex;
    flex-direction: column;
    
  }

  .arrow-img {
    width: 73.47px;
    height: 90px;
    margin-right: -6px;
  }

  .title {
    margin-block-start: 0;
    margin-block-end: 1em;
    font-size: 18px;
    color: rgba(2, 244, 191, 1);
    
  }

  p {
    font-size: 18px;
    color: rgba(2, 244, 191, 1);
  }

  .comments-div {
    display: flex;
    justify-content: space-evenly;
  }
}

@media (max-width: 930px) {
  .arrow-img {
    display: none; /* Entfernt das Arrow-Bild */
  }

  .teamplayer {
    text-align: center;

    h4 {
      text-align: center;
    }
  }


  .comments-div {
    display: flex;
    overflow-x: auto; /* Ermöglicht horizontales Scrollen */
  }

  .comment-list {
    min-width: 250px; 
    border: 2px solid rgba(2, 244, 191, 1);
    padding: 10px;
  }

  .comments-div::-webkit-scrollbar {
    display: none; /* Versteckt den Scrollbalken in WebKit-Browsern */
  }

  .comments-div {
    -ms-overflow-style: none; /* Versteckt den Scrollbalken im IE */
    scrollbar-width: none; /* Versteckt den Scrollbalken in Firefox */
  }
}

@media (max-width: 945px) {
  .teamplayer h3 {
    text-align: center;
  }

  p {
    font-size: 16px !important;
  }

  .smaller-text {
    font-size: 16px;
    display: block;
  }

  .comments-div {
    gap: 16px;
  }

  
}
