@import "../../../../public/styles/mixins.scss";

.contact {



  input.valid,
  input.invalid,
  textarea.valid,
  textarea.invalid {
   



    &.invalid::placeholder {
      color: rgba(249, 33, 3, 1);
     
      font-weight: 200;

    }


    &.invalid {
      color: rgba(249, 33, 3, 1);
    }

      

    &.valid {
     
      font-weight: 200;
      color: rgba(97, 225, 6, 1);
    }
  }

  .input-container {
    position: relative;
    width: 100%; // Stelle sicher, dass das Container die Breite des Inputs hat
  
    input,
    textarea {
      width: 90%; // Breite der Eingabefelder
      padding-right: 23px; // Platz für das Bild
    }
  
    .input-icon {
      position: absolute;
      right: 40px;
      top: 50%;
      transform: translateY(-50%);
      width: 26px;
      height: 30px;
      pointer-events: none;
    }

    .input-icon-textarea {
      position: absolute;
      right: 0;
      top: 24px;
      transform: translateY(-50%);
      width: 26px;
      height: 30px;
      pointer-events: none;
      margin-right: 7px;
    }
  }



  h1 {
    font-size: 54px;
    color: rgba(225, 85, 68, 1);
    text-align: left;
    margin-block-end: 0;
    margin-block-start: 0;
    margin-bottom: 28px;

    img {
      margin-left: -15px;
      margin-bottom: -10px;
    }
  }

  .text-divs {
    width: 100%;
    display: flex;

    .left {
      width: 50%;
    }

    .right {
      width: 50%;

      a {
        all: unset;
      }

      .email,
      .phone {
        display: flex;
        align-items: center;
        gap: 16px;
        cursor: pointer;
        margin-left: 56px;

        svg:hover path {
          fill: rgba(2, 244, 191, 1);
          cursor: pointer;
        }
      }
    }
  }

  p {
    font-size: 18px;
    color: rgba(2, 244, 191, 1);
  }
}

.up-arrow {
  width: 22px;
  height: 50px;
  padding: 8px 6px;
  @include flex-center;
  cursor: pointer;
  transition: box-shadow 300ms ease-in-out, fill 300ms ease-in-out;

  &:hover {
    box-shadow: 0 0 0 1px rgba(2, 244, 191, 1);

    path {
      fill: #02f4bf;
    }
  }
}

form {
  display: flex;
  flex-direction: column;

  .contact-block {
    display: flex;
    width: 100%;
    gap: 40px;
    flex: 1;
  }

  .inputs-left {
    display: flex;
    flex-direction: column;
    width: 50%;
    gap: 36px;

    input {
      width: 90%;
      all: unset;
      border: 1px solid #02f4bf;
      padding: 15px 9px;
      color: #02f4bf;

      &::placeholder {
        font-size: 18px;
        color: rgba(2, 244, 191, 0.6);
      }

      &:focus {
        caret-color: 1px solid rgba(2, 244, 191, 0.6);
      }

   
    }
  }

  .text-area {
    width: 50%;
    display: flex;
    flex: 1;
  }
  textarea {
    width: 95% !important;
    height: 112px !important;
    all: unset;
    border: 1px solid #02f4bf;
    padding: 15px 9px;
    color: #02f4bf;
    &::placeholder {
      font-size: 18px;
      color: rgba(2, 244, 191, 0.6);
    }

    &:focus {
      animation: none;
    }
  }

  .checkbox {
    height: 74px;
    display: flex;
    justify-content: space-between;
    margin-top: 20px;

    .error-message {
      color: red;  // Change to your preferred error color
      margin-top: 8px;
      font-size: 14px;  // Adjust the font size as needed
    }

    .centering {
      display: flex;
      gap: 6px;
    }

    input[type="checkbox"] {
      border: 1px solid rgba(225, 85, 68, 1);
      border-radius: 3px;
      appearance: none;
      -webkit-appearance: none;
      background-color: transparent;
      width: 24px;
      height: 24px;
      cursor: pointer;
      position: relative;
      transition: background-color 75ms ease-out;

      &:hover {
        background-color: rgba(2, 244, 191, 1);
      }

      &::after {
        content: "";
        position: absolute;
        left: 2px;
        top: 32%;
        transform: translateY(-50%);
        width: 10px;
        height: 10px;
        border: solid rgba(225, 85, 68, 1);
        border-width: 0 3px 3px 0;
        opacity: 0;
        transition: opacity 0.2s ease;
        rotate: 37deg;
      }

      &:checked::after {
        opacity: 1;
      }

      &:checked {
        background-color: rgba(2, 244, 191, 1);
      }
    }

    label {
      color: rgba(2, 244, 191, 1);
      font-size: 14px;
      margin-top: 5px;

      a {
        color: rgba(225, 85, 68, 1);
        text-decoration: none;
        font-weight: 400;

        &:hover {
          font-weight: 600;
        }
      }
    }
  }

  .git-hub-btn {
    margin-right: 0px;
    
  }

  .git-hub-btn:disabled {
    background-color: transparent;
    cursor: default;
    color: rgba(190, 190, 190, 1);
    border-color: rgba(190, 190, 190, 1);
    opacity: 0.6;
  }
}
