<div class="imprint">
<h1>{{ 'IMPRESSUM.TITLE' | translate }}</h1>

<p>{{ 'IMPRESSUM.NAME' | translate }}<br />
  {{ 'IMPRESSUM.ADDRESS' | translate }}<br />
  <br />
  27619 Schiffdorf
</p>

<h2>{{ 'IMPRESSUM.KONTAKT' | translate }}</h2>
<p>
  <a href="tel:+491743473624">{{ 'IMPRESSUM.PHONE' | translate }}: 01743473624</a><br />
  <a href="mailto:deividaskond@gmail.com">{{ 'IMPRESSUM.EMAIL' | translate }}: deividaskond&#64;gmail.com</a>
</p>

<p>{{ 'IMPRESSUM.SOURCE' | translate }}: <a href="https://www.e-recht24.de" target="_blank">https://www.e-recht24.de</a></p>
</div>
