@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@font-face {
  font-family: "Roboto-Mono-Medium";
  src: url("../public/assets/fonts/roboto-mono/RobotoMono-Medium.ttf")
    format("truetype");
  font-weight: normal;
  font-style: normal;
}

.no-scroll {
  overflow: hidden;
}

* {
  box-sizing: border-box;
  scroll-behavior: smooth;
  scroll-padding-top: 80px;
}

body {
  background: linear-gradient(
    174.25deg,
    #0b042d 24.9%,
    #1f0b80 39.2%,
    #0b042f 72.02%,
    #241085 106.54%
  );
  margin: 0;
  padding: 0;
  height: 100vh;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: "Roboto-Mono-Medium", sans-serif;
  touch-action: pan-y;
  overflow-x: hidden; 
}

.privacy-link {
  color: rgba(225, 85, 68, 1);
  text-decoration: none;
  font-weight: 400;

  &:hover {
    font-weight: 600;
  }
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  box-sizing: border-box;

  @media (max-width: 1440px) {
    margin: 0 40px;
  }
  @media (max-width: 800px) {
    margin: 0 16px;
  }
}

.eletric-button {
  all: unset;
  background-color: rgba(2, 244, 191, 1);
  padding: 15px 30px;
  color: rgba(11, 4, 45, 1);
  cursor: pointer;
  font-size: 18px;
  transition: color 300ms ease-in-out;

  &:hover {
    color: rgba(225, 85, 68, 1);
  }

  @media (max-width: 800px) {
    font-size: 16px;
  }
  @media (max-width: 500px) {
    padding: 12px 10px;
  }
}

.git-hub-btn {
  all: unset;
  box-sizing: border-box;
  padding: 14px 29px;
  color: rgba(225, 85, 68, 1);
  border: 1px solid rgba(2, 244, 191, 1);
  cursor: pointer;
  font-size: 18px;
  transition: color 300ms ease-in-out;

  &:hover {
    color: rgba(2, 244, 191, 1);
  }

  @media (max-width: 800px) {
    font-size: 16px;
  }

  @media (max-width: 500px) {
    padding: 12px 10px;
  }
}

.success {
  background-color: green;
  color: white;
}

.mat-mdc-simple-snack-bar {
  display: flex;
  position: absolute;
  transform: translateX(-50%);
  left: 50%;
  background-color: green;
  border-radius: 5px;
}

.mdc-snackbar {
  opacity: 1;
  display: flex;
  position: absolute;
  top: 128px;
  transform: translateX(-50%) !important;
  left: 50%;
}

::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

::-webkit-scrollbar-track {
  background: rgba(2, 244, 191, 1);
  border-radius: 4px;
}

::-webkit-scrollbar-thumb {
  background: rgba(225, 85, 68, 1);
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(2, 244, 191, 0.8);
}


